CoptLib/XML/IfXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="If" nillable="true" type="IfXML" />
  <xs:complexType name="IfXML">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="If" type="IfXML" />
      <xs:element minOccurs="0" maxOccurs="1" name="Return" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="LeftHand" type="xs:string" />
    <xs:attribute name="Comparator" type="xs:string" />
    <xs:attribute name="RightHand" type="xs:string" />
  </xs:complexType>
</xs:schema>